.modal {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    width: 50%;
    padding: 25px;
    font-family: 'Arial';
    background-color: white;
    border-radius: 25px;
}

.modal__content > div {
    margin-bottom: 15px;
}