.theme__button {
    height: 100%;
    /*width: 50px;*/
    border: none;
    background-color: inherit;
    padding: 5px;
    cursor: pointer;
}

img {
    width: inherit;
    height: inherit;
}