.post {
    width: 100%;
    padding: 0 5px;
    border-radius: 5px;
    box-shadow: 3px 3px rgba(34, 60, 80, 0.2);
    display: flex;
    flex-direction: column;
}

.post__content {
    max-height: 70%;
    overflow: hidden;
}

.post__comment {
    cursor: pointer;
}