.footer {
    width: 100%;
    height: 48px;
    padding: 0 15px;
    font-family: 'Arial';
    color: #3E3232;
    background-color: #F5F5F5;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a, a:visited {
    color: #3E3232;
    text-decoration: none;
}
