body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

* {
    box-sizing: inherit;
}

#root {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 48px 1fr 48px;
}

[data-theme='dark'] {
    background-color: #1E1E1E;
    color: #F5F5F5;
}



