.header {
    width: 95%;
    height: 48px;
    padding: 0 30px;
    font-family: "Arial";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__left__part {
    width: 665px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.header__right__part {
    width: 665px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
}